* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
}

@keyframes fadeInMain {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body {
    background-color: whitesmoke;
    color: darkslategray;
    animation: fadeInMain ease 0.5s;
  
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p, ul {
    margin-bottom: 1rem;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    padding:2rem;
    color: whitesmoke;
    background-color: darkred;
    text-shadow: 4px 4px 0px black;
    border-bottom: 6px solid goldenrod;
    box-shadow: 0px 0px 10px black;
}

main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid black;

    height: 20rem;
    width: 30rem;
}

.button {
    border: 1px solid black;
    padding: 0.25rem;
    cursor: pointer;
}